@use "../../App"

#create-exam
    padding: 5%
    width: 100%
    min-height: 100vh
    box-sizing: border-box
    #loading-container
        width: 100%
        height: 20vh
        display: flex
        justify-content: center
        align-items: center
    form
        .new-exam-control
            background-color: App.$green
            color: App.$black
            font-weight: 600
            padding: 15px 20px
            border: solid 2px App.$black
            &:nth-child(3)
                background-color: App.$purple
                margin-left: 20px
