@use "../../App"

#exam-page
    padding: 0px 5%
    padding-bottom: 10vh
    h1
        font-weight: 600
    section
        margin: 5% 0px
        h2
            font-weight: 600
            margin: 0px
    .question-container
        display: flex
        flex-direction: column
        gap: 5vh
        min-height: 50vh
    #submit-exam
        padding: 15px 25px
        border-radius: 0px
        background-color: App.$purple
        border: solid 2px App.$black
        font-weight: 600
