@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap')

$poppins: 'Poppins', sans-serif
$outfit: 'Outfit', sans-serif

$white: #FFFFFF
$green: #5DCCA0
$lime: #B5EF65
$black: #1F1F29

$background-color: $white
$text-color: $black

@mixin neo-button()
  border-radius: 5px
  align-self: center
  -webkit-box-shadow: 7px 5px 0px 0px $green
  -moz-box-shadow: 7px 5px 0px 0px $green
  box-shadow: 5px 5px 0px 0px $green
  &:active
    box-shadow: none

$page-width: min(100vw, 1500px)

.page
  width: $page-width
  padding: 0px 5%
  box-sizing: border-box

html, body
  background-color: $background-color
  color: $text-color
  font-family: $poppins
  margin: 0px
  padding: 0px
  box-sizing: border-box
  width: 100vw
