@use "../../../App"

#why
    height: fit-content
    margin-top: 0px
    font-family: App.$poppins
    h2
        color: App.$text-color
        width: fit-content
        font-size: 2rem
    &>div
        display: grid
        grid-template-columns: repeat(4, max(250px, 20vw))
        grid-template-rows: 250px
        gap: 10px
        overflow: hidden
        padding: 10px
        box-sizing: border-box
        article
            width: 100%
            height: 100%
            border-radius: 20px
            padding: 10%
            box-sizing: border-box
            display: flex
            flex-direction: column
            font-family: App.$outfit
            gap: 5%
            h4
                margin: 0px
                font-size: 1.2rem
                font-weight: 500
            small
                font-size: 0.8rem
                color: App.$black
                opacity: 0.5
            p
                margin: 0px
                font-weight: 350
                font-size: 0.8rem
            &:first-child
                background-color: #5DCCA0
            &:nth-child(2)
                background-color: App.$black
                color: App.$white
                small
                    color: App.$white
            &:nth-child(3)
                background-color: #CB9BFA
            &:nth-child(4)
                background-color: #F8FD91

@media all and (max-width: 1170px)
    #why>div
        overflow-x: scroll
