@use '../../../App'

.exam-display
    margin: 50px 0px
    display: flex
    flex-direction: column
    gap: 20px
    h2
        font-weight: 600
    .data-container
        display: grid
        grid-template-columns: 1.5fr 1fr
        column-gap: 5%
        grid-template-rows: 40vh
        div:first-child
            display: grid
            grid-template-columns: 1fr 1fr
            grid-template-rows: 1fr 1fr
            gap: 10px
            .exam-card
                box-sizing: border-box
                padding: 10%
                display: flex
                flex-direction: column
                gap: 10px
                width: 100%
                height: 100%
                border: solid 1px App.$outlineColor
                border-radius: 10px
                h4
                    margin: 0px
                div
                    font-size: 2rem
                    font-weight: 600
                small
                    font-weight: 300
                    color: grey
    #closest-item
        display: grid
        grid-template-columns: 1fr 50px
        grid-template-rows: 50px
        grid-auto-rows: 50px
        align-items: center
        background-color: App.$black
        color: App.$white
        border-radius: 15px
        box-sizing: border-box
        padding: 20px
        p
            margin: 0px
        // gap: 10%
        h3
            font-size: 2rem
            margin: 0px
        .examiner
            display: flex
            gap: 10px
            align-items: center
        &>div
            grid-column: 1/3
        &>p
            grid-column: 1/3
        &>button
            width: 30px
            height: 30px
            border-radius: 50%
            background-color: App.$white
            color: App.$black
            border: none
    .show-all-container
        display: flex
        justify-content: flex-end
        align-items: center
        gap: 20px
        p
            cursor: pointer
            margin: 0px
            &:hover+button
                svg
                    transform: rotate(0deg)
        button
            border: none
            border-radius: 50%
            color: App.$white
            background-color: App.$black
            padding: 10px
            svg
                transform: rotate(45deg)
                transition: 250ms
